body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.logo .letter-w {
    color: #ffa600;
}

.logo .letter-w.overlay {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #ffdd00;
}

.selected-avatar img, .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.selected-avatar img {
    border: 2px solid #fff;
}

header .user-info {
    display: flex;
    align-items: center;
    gap: 8px; /* Расстояние между значком и текстом */
}

header .ranking-icon {
    cursor: pointer;
}

header .user-score {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.game-mode-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    width: 100%; /* Увеличиваем ширину */
    max-width: 800px; /* Увеличиваем максимальную ширину */
}

.game-modes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px; /* Ограничиваем ширину блока с кнопками */
    margin: 0 auto; /* Центрируем по горизонтали */
}

.game-mode-button {
    padding: 20px;
    border-radius: 50px;
    background-color: #ffdd00;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5rem;
    border: none;
}

.game-mode-button:hover {
    background-color: #ffe066;
}
